.profile-container {
  display: flex;
  height: 100vh;
}


.profile-content {
    flex: 1;
  padding: 2rem;
  overflow-y: auto;
}

.profile-card {
    margin-top: 50px;
    width: 70%;
    border: solid 1px black;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 2px rgb(6, 6, 6);
}

.profile-card-left {
    display: flex;
    flex-direction: row;
}

.profile-card-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.profile-card-image img {
    width: 100px;
    border-radius: 50px;  
}

.profile-card-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.profile-card-info p {
    color:  gray;
    margin-bottom: 10px;
    font-size: .8rem;
}

.profile-card-info button {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background-color: #4c6824;
    color: white;
    width: 70%;
}

.profile-card-right {
    display: flex;
    flex-direction: column;
}

.profile-right-info p{
    margin-top: 20px;
}

.profile-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 90%;
    max-width: 500px;
    padding: 25px;
    border-radius: 20px;
    animation: editpopup 0.2s ease-in forwards;
    z-index: 1001;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    overflow-y: auto;
    max-height: 90vh;
    opacity: 0; /* Start hidden for animation */
}




@keyframes editpopup {
    0% {
        opacity: 0;
        transform: translate(-50%, calc(-50% - 20px));
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}


.edit-top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-top-header i {
    color: var(--primary-color);
    font-size: 25px;
}

.popup-close {
    display: inline-block;
    padding:  10px 15px;
    border-radius: 50px;
    background-color: red;
    color: white;
}

.show-edit-popup {
    display: block;
}

.profile-popup-container {
    padding: 20px 30px;
}
.popup-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup-header img {
    width: 40px;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 50%;
}

.popup-header button{
    margin-left: 30px;
    font-size: 15px;
    padding: 5px 20px;
}

.popup-header button i{
    margin-right: 10px;
}

.popup-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.popup-content-fname, 
.popup-content-lname {
    display: flex;
    flex-direction: column;
}

.popup-name {
    display: flex;
}

.popup-content label{
    margin-left: 10px;
    margin-top: 10px;
}

.popup-content input,
.popup-name input {
    padding: 10px;
    margin: 5px 5px;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
}

.profile-save-btn {
    display: flex;
    justify-content: flex-end;
}

.save-btn {
    background-color: var(--primary-color);
    margin-top: 10px;
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: bolder;
}


.show-overlay {
    display: block; 
}

.profile-popup {
    z-index: 1000;
}

.profile-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-section img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin-bottom: 10px;
}
.profile-section input, .profile-section button {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.user-fullname {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.user-fullname input {
    width: 10px;
}

.profile-btn-change {
    background-color: grey;
    color: white;
    cursor: pointer;
}

.profile-btn-delete {
    background-color: red;
    color: white;
    cursor: pointer;
}

.profile-btn-save {
    background-color: green;
    color: white;
    cursor: pointer;
}