.usermarket-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.usermarket-content  {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.usermarket-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: var(--primary-color);
}

.usermarket-header input {
    margin: 10px;
    width: 35%;
    padding: 10px;
    border-radius: 20px;
    border: solid 2px var(--primary-color)
}

.usermarket-crops-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 20px;
    justify-content:center;
}

.usermarket-crop-card {
    display: flex;
    flex-direction: column;
    width: 275px;
    background-color: var(--primary-color);
    border-radius: 10px;
    height: 325px;
}

.usermarket-crop-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.usermarket-crop-card:not(:hover) {
    transform: scale(1);
    transition: transform 0.3s;
}

.usermarket-card-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.usermarket-card-content img {
    width: 225px;
    height: 150px;
    object-fit: cover;
}

.usermarket-card-content h4,
.usermarket-card-content p {
    color: white;
}

.usermarket-card-content button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}